<sly data-sly-test="${resource.hasChildren}">
<div class="overflow">
  <button class="button previous"><i class="fac fa-prev"></i></button>
  <div class="strip_of paper1"></div>
  <div class="carousel">
    <div class="slider">
	<sly data-sly-use.parentResource="${resource.path}" data-sly-list.childResource="${parentResource.listChildren}">
       <sly  data-sly-test="${childResource}" data-sly-list.tileNode="${childResource.listChildren}">
        <div class="card">
          <div class="card-bg" style="background-image: url(${tileNode.tileImage @ context='uri'});">
            <a class="location" href="${tileNode.tileLink}" target="${tileNode.tileTab}">${tileNode.tileLabel}</a>
          </div>
        </div>
		</sly>
	</sly>
    </div>
  </div>
  <div class="strip_of paper2"></div>
  <button class="button next"><i class="fac fa-next"></i></button>
</div>
</sly>
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
	<sly data-sly-call="${templates.placeholder @ isEmpty = !tileNode.tileLink}"></sly>
</sly>